<!-- <p>meeting-list works!</p> -->

<button class="btn btn-success" [routerLink]="['/add']">{{ 'CREATEMEETING' | translate }}</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">{{ 'SLNO' | translate }}</th>
        <th scope="col">{{ 'NAME' | translate }}</th>
        <th scope="col">{{ 'DATE' | translate }}</th>
        <th scope="col">{{ 'SARTTIME' | translate }}</th>
        <th scope="col">{{ 'ENDTIME' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of meetindList; let i = index"class="border" >
        <th scope="row">{{i}}</th>
        <td>{{rec.name}}</td>
        <td>{{rec.date}}</td>
        <td>{{rec.Starttime}}</td>
        <td>{{rec.endtime}}</td>
      </tr>
      <tr *ngIf="!meetindList">No Records Found!</tr>
    </tbody>
  </table>
