<!-- <p>addmeeting works!</p>
<h1>sdhsjkdh</h1> -->
<div class="card">
  <h5 class="card-header">{{ 'Heading' | translate }} </h5>
  <div class="card-body">
    <form #f="ngForm" class="col-md-12" novalidate> 
    <div class="form-group">
      <label>{{ 'Name' | translate }} </label>
      <input type="text" class="form-control" id="fullname" name="name" ngModel>
    </div>
    <div class="form-group">
      <label>{{ 'Date' | translate }}</label>
      <input type="date" class="form-control" id="meeting-date" name="date" ngModel>
    </div>
    <div class="form-group">
        <label>{{ 'StartTime' | translate }}</label>
        <input type="time" class="form-control" id="meetingstart-time" name="Starttime" ngModel>
    </div>
    <div class="form-group">
        <label>{{ 'End Time' | translate }}</label>
        <input type="time" class="form-control" id="meetingend-time" name="endtime" ngModel>
    </div>
    </form>
  </div>
    <div class="card-footer">
      <button   (click)="onSubmit(f)" type="submit" class=" btn-primary meeting-btn">{{ 'Submit' | translate }}</button>
    </div>
</div>

