
<!--The content below is only a placeholder and can be replaced.-->  
<div class="bg-primary dropdown height marging ">  
  <div class="dropdown ">
    <button class="btn btn-secondary dropdown-toggle margin" type="button" id="dropdownMenuButton" data-toggle="dropdown">
      {{selectedLanguage.display}}
    </button>
    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:void" *ngFor="let lang of languagesList" (click)="changeLang(lang)">{{lang.display}}</a>
    </div>
  </div>
</div>
<!-- <ng2-timezone-picker
    [(timezone)]="user.timezone"
    [placeholder]="placeholderString">
</ng2-timezone-picker> -->

<router-outlet></router-outlet>